.chat-area::-webkit-scrollbar{
  width: 0.30rem;
}

.chat-area::-webkit-scrollbar-track{
  background: var(--text-color);
}

.chat-area::-webkit-scrollbar-thumb{
  background: var(--navbar-background-color);
  border-radius: 25px;
}


/* MAIN SECTION WITH CONTENT */
/* Main header section wit username counsellor's name in this case */
main .header{
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--icon-color);
  box-shadow: 0 1px 2.5px -0.5px rgb(0 0 0 / 20%);
  position: sticky;
}

main .header .welcome-txt{
  padding: 1.5rem 0 1rem 1rem;
  margin-left: 2.5rem;
}

main .header .notification-area{
  padding: 1rem;
}

h2{
  margin: 0;
}

main .header .welcome-txt h2{
  font-size: 2rem;
}

main .header .notification-area i{
  padding: 1rem 2rem 0 0;
  font-size: 2rem;
}

.communications{
  border-radius: 1rem;
  display: flex;
  padding: 1rem 0 1rem 0;
}

.communications .total,
.communications .approved,
.communications .cancelled,
.communications .total-patients{
  width: 50%;
  height: auto;
  background-color: var(--icon-color);
  box-shadow: 0 2px 3px rgba(0,0,0,.6);
  border-radius: 1rem;
  display: flex;
  margin-right: 1rem;
  padding: 1rem;
}

.communications .total-patients{
  margin-right: 0;
}

main .appointments .wrapper .communications i{
  padding: 0 1rem 0 0;
  font-size: 1.5rem;
}

.total-numbers h2{
  margin: 0;
}

.total-numbers span{
  font-size: .75rem;
}

/* Thee appointment list */
.appointment-list {
  box-shadow: .4px 2px 3px rgb(0 0 0 / 20%);
  border-radius: 1rem;
  height: 550px;
  margin-top: 1rem;
}

/* List header */
.list-header h2{
  font-size: 1.75rem;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
}

.list-header form{
  display: flex;
  padding: 0 0 .5rem 0;
  margin: 1rem 1rem 0 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.list-header form input {
  text-align: center;
  outline: none;
  border: 0;
  font-weight: 600;
  font-size: 1rem;
  padding: .5rem 2rem;
  background: none;
  margin: 0;
}

.list-header form input:hover{
  cursor: pointer;
  border-bottom: 2px solid rgb(157, 157, 157);
  background-color: #cacaca;
  border-radius: 1rem;
}

/* Selected Appointment details */
main .appointments .student-info{
  box-shadow: .4px 2px 3px rgb(0 0 0 / 10%);
  border-radius: 1rem;
  margin: 1rem 1rem 0 1rem;
  width: 50%;
  height: 660px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.student-info h2 {
  margin: 1rem;
}

.student-info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.student-info table {
  width: 80%;
}

.student-info table tr{
  border: 0;
}

.student-info table tr td{
  text-align: end;
  padding: 1rem;
  font-size: 1.040rem;
  border: 0;
}

.student-info table tr td:nth-child(odd){
  width: 145px;
  font-weight: 600;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.student-info table tr td:nth-child(even){
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.student-info table tr:nth-child(odd) {
  background-color: #ecececf4;
}

.student-info .respond-btn{
  width: 80%;
  height: auto;
  background-color: var(--navbar-background-color);
  color: var(--icon-color);
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  border: 1px solid var(--navbar-background-color);
  border-radius: 1rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 3rem;
  padding: .65rem;
}

.student-info .respond-btn:hover{
  cursor: pointer;
}

.broken {
  display: none;
}