.chat-area::-webkit-scrollbar{
  width: 0.30rem;
}

.chat-area::-webkit-scrollbar-track{
  background: var(--text-color);
}

.chat-area::-webkit-scrollbar-thumb{
  background: var(--navbar-background-color);
  border-radius: 25px;
}


/* MAIN SECTION WITH CONTENT */
/* Main header section wit username counsellor's name in this case */
main .header{
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--icon-color);
  box-shadow: 0 1px 2.5px -0.5px rgb(0 0 0 / 20%);
  position: sticky;
}

main .header .welcome-txt{
  padding: 1.5rem 0 1rem 1rem;
  margin-left: 2.5rem;
}

main .header .notification-area{
  padding: 1rem;
}

h2{
  margin: 0;
}

main .header .welcome-txt h2{
  font-size: 2rem;
}

main .header .notification-area i{
  padding: 1rem 2rem 0 0;
  font-size: 2rem;
}

.communications{
  border-radius: 1rem;
  display: flex;
  padding: 1rem 0 1rem 0;
}

.communications .total,
.communications .approved,
.communications .cancelled,
.communications .total-patients{
  width: 50%;
  height: auto;
  background-color: var(--icon-color);
  box-shadow: 0 2px 3px rgba(0,0,0,.6);
  border-radius: 1rem;
  display: flex;
  margin-right: 1rem;
  padding: 1rem;
}

.communications .total-patients{
  margin-right: 0;
}

main .appointments .wrapper .communications i{
  padding: 0 1rem 0 0;
  font-size: 1.5rem;
}

.total-numbers h2{
  margin: 0;
}

.total-numbers span{
  font-size: .75rem;
}

/* Thee appointment list */
.appointment-list {
  box-shadow: .4px 2px 3px rgb(0 0 0 / 20%);
  border-radius: 1rem;
  height: 550px;
  margin-top: 1rem;
}

/* List header */
.list-header h2{
  font-size: 1.75rem;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
}

.list-header form{
  display: flex;
  padding: 0 0 .5rem 0;
  margin: 1rem 1rem 0 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.list-header form input {
  text-align: center;
  outline: none;
  border: 0;
  font-weight: 600;
  font-size: 1rem;
  padding: .5rem 2rem;
  background: none;
  margin: 0;
}

.list-header form input:hover{
  cursor: pointer;
  border-bottom: 2px solid rgb(157, 157, 157);
  background-color: #cacaca;
  border-radius: 1rem;
}

/* Selected Appointment details */
main .appointments .student-info{
  box-shadow: .4px 2px 3px rgb(0 0 0 / 10%);
  border-radius: 1rem;
  margin: 1rem 1rem 0 1rem;
  width: 50%;
  height: 660px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.student-info h2 {
  margin: 1rem;
}

.student-info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.student-info table {
  width: 80%;
}

.student-info table tr{
  border: 0;
}

.student-info table tr td{
  text-align: end;
  padding: 1rem;
  font-size: 1.040rem;
  border: 0;
}

.student-info table tr td:nth-child(odd){
  width: 145px;
  font-weight: 600;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.student-info table tr td:nth-child(even){
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.student-info table tr:nth-child(odd) {
  background-color: #ecececf4;
}

.student-info .respond-btn{
  width: 80%;
  height: auto;
  background-color: var(--navbar-background-color);
  color: var(--icon-color);
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  border: 1px solid var(--navbar-background-color);
  border-radius: 1rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 3rem;
  padding: .65rem;
}

.student-info .respond-btn:hover{
  cursor: pointer;
}

.modal-body .options{
  margin: 2rem 0 0 0;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.modal-body .options h4,
.modal-body .options i{
  margin: 0 .5rem;
}

.modal-body .options h4:hover{
  cursor: pointer;
}

.options .livechat,
.options .tollfree,
.options .zoom,
.options .email{
  width: 70%;
  height: auto;
  background-color: var(--icon-color);
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  border-radius: 1rem;
  display: flex;
  margin: 1rem .5rem;
  padding: .75rem;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.chat-wrap{
  width: 60%;
  border-radius: 16px;
}

.chat-box{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 400px;
  border-radius: 1rem;
  overflow-y: auto;
  padding: 1rem;
}

.chat-box .chat,
.chat-box .tollfree,
.chat-box .zoomlink,
.chat-box .mail{
  height: 380px;
  padding: 0 .5rem 0 0;
  overflow-y: auto;
}

.chat-box .zoomlink{
  width: 90%;
  border-radius: 1rem;
}

.chat-box .zoomlink form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.chat-box .zoomlink form input{
  width: 70%;
}

.chat-box .zoomlink form input,
.chat-box .zoomlink form button{
  box-shadow: 0 2px 3px rgba(0,0,0,.15);
  outline: none;
  padding: .75rem;
  margin: .75rem 0;
  border: none;
  border-radius: 1rem;
}

.chat-box .zoomlink form button,
.chat-box .zoomlink form p {
  font-weight: 600;
}

.chat-box .zoomlink form .send-options {
  width: 80%;
}

.chat-box .zoomlink form .send-options button {
  background-color: var(--navbar-background-color);
  color: var(--icon-color);
  letter-spacing: 1.5px;
  margin: 0 .25rem;
  width: 30%;
}

.chat-box .zoomlink form p:first-child {
  margin: 0;
}

.chat-box .tollfree,
.chat-box .zoomlink,
.chat-box .mail{
  display: none;
  position: absolute;
  z-index: 2;
}

.chat-box .chat::-webkit-scrollbar{
  width: .5rem;
}

.chat-box .chat::-webkit-scrollbar-track{
  background: var(--text-color);
}

.chat-box .chat::-webkit-scrollbar-thumb{
  background: var(--navbar-background-color);
  border-radius: 25px;
}

.chat-box .outgoing,
.chat-box .incoming{
  display: flex;
  margin: 1rem 0;
}

.chat-box .outgoing .details{
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details p{
  padding: .5rem;
  margin: 0;
  background: #333;
  box-shadow: 0 2px 3px rgba(0,0,0,.35);
  color: #fff;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
  align-items: flex-end;
}
.chat-box .incoming img{
  height: 35px;
  width: 35px;
}
.chat-box .incoming .details{
  word-wrap: break-word;
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}
.incoming .details p{
  margin: 0;
  padding: .7rem;
  background: #fff;
  color: rgb(0, 0, 0);
  border-radius: 18px 18px 18px 0;
  box-shadow: 0 2px 3px rgba(0,0,0,.45);
}

.typing-area{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.typing-area .input-field{
  box-shadow: 0 2px 3px rgba(0,0,0,.45);
  height: 38px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 8px;
  border: none;
  background: #eeeeee;
  border-radius: 1rem 0 0 1rem;
  outline: none;
}

.typing-area .input-field::placeholder{
  font-weight: 400;
}

.typing-area input:last-child{
  color: #fff;
  width: 96px;
  border: none;
  outline: none;
  letter-spacing: 2px;
  background-color: var(--navbar-background-color);
  box-shadow: 0 2px 3px rgba(0,0,0,.45);
  font-size: 19px;
  cursor: pointer;
  font-weight: 600;
  pointer-events: none;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.3s ease;
}

.mail form {
  padding: 1rem;
}

.mail form textarea{
  box-shadow: .4px 2px 3px rgb(0 0 0 / 10%);
  padding: 1rem;
	border: none;
  outline: none;
  border-radius: 1rem;
  background-color: #f3f3f3;
  font-weight: 600;
}

.mail form #send-mail{
  width: 95%;
  margin-top: 1rem;
  height: auto;
  outline: none;
  border: none;
  background-color: var(--navbar-background-color);
  color: var(--icon-color);
  border-radius: 1rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
  padding: .65rem;
}