:root{
  --icon-color: #fff;
  --text-color: #fbfbfbe3;
  --navbar-background-color: #000;
  --nav-hover-color: #2b2b2b;
  --main-background-color: #e3fde3;
  --action-color: #1cbc00;
  --danger-color: #ef0000;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  height: 100vh;
}


/* SCROLL BAR STYLING */
body::-webkit-scrollbar{
  width: 0.30rem;
}

body::-webkit-scrollbar-track{
  background: var(--text-color);
}

body::-webkit-scrollbar-thumb{
  border-radius: 25px;
  background: var(--navbar-background-color);
}

ul::-webkit-scrollbar{
  width: 0.30rem;
}

ul::-webkit-scrollbar-track{
  background: var(--text-color);
}

ul::-webkit-scrollbar-thumb{
  border-radius: 25px;
  background: var(--navbar-background-color);
}

/* The sidebar menu */
header{
  height: 100%; 
  width: 220px; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: var(--navbar-background-color);
  color: var(--text-color);
  overflow-x: hidden; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

header .heading,
header .logout{
  display: flex;
  align-items: center;
}

header .heading img{
  padding-right: 1rem;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

header nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul li{
  list-style: none;
}

header nav ul li{
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header nav ul li i{
  color: #fff;
  padding-right: 1rem;
}

a{
  text-decoration: none;
  color: inherit;
}

header .logout{
  padding: 0 0 2rem 1rem;
  margin-top: auto;
  align-items: center;
  justify-content: flex-start;
}

header .logout i{
  margin-right: 1rem;
}

/* Main Section global styling */
main {
  margin-left: 250px;
  position: relative;
}

/* Main Appointments sections with list and counter */
main .appointments{
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

main .appointments .wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem .5rem 1rem 1rem;
}


/* FROM THE ALPHA */
.main-navbar {
  padding-top: 10px;
  box-shadow: 0 2px 4px -.5px rgba(0, 0, 0, 0.2);  
  padding: .5rem 1rem .5rem 1rem;
  background-color: var(--icon-color);
}

.main-navbar .chat-title {
  display: flex;
  justify-content: space-between;
}

.main-navbar .chat-title .left {
  display: flex;
}

.main-navbar .chat-title .right {
  margin-right: .5rem;
  display: flex;
}
.main-navbar .chat-title .right div {
  position: relative;
}

.main-navbar .chat-title .right div .badge {
  display: none;
  font-size: 10px;
  position: absolute;
  padding: 2px 5px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background: green;
  font-weight: 700;
  color: white;
}

.main-navbar .chat-title .right .schedules .cale,
.main-navbar .chat-title .right .notifications-list .theList {
  visibility:hidden;
  font-size: 14px;
  width: 200px;
  position: absolute;
  z-index: 1;
  padding: .25rem;
  top: 30px;
  right: 5px;
  background: var(--navbar-background-color);
  border-radius: .25rem;
  font-weight: 500;
  color: var(--icon-color);
}

.main-navbar .chat-title .right .schedules .cale{
  top: 45px;
  width: 400px;
}

.main-navbar .chat-title .right .notifications-list .theList li{
  padding: .35rem;
  border: none;
  border-radius: .25rem;
  background-color: var(--nav-hover-color);
}

.main-navbar .chat-title .right .schedules:hover .cale,
.main-navbar .chat-title .right .notifications-list:hover .theList{
  /* display: block; */
  visibility: visible;
}

.main-navbar .chat-title .right i{
  padding: 1rem;
  font-size: 1.75rem;
}

.main-navbar .chat-title .right div i:hover{
  cursor: pointer;
}

.main-navbar .chat-title img{
  width: 40px;
  height: 40px;
  margin: 5px 15px 0 1rem;
}

.main-navbar .chat-title .user-info{
  display: flex;
  align-items: center;
}

.main-navbar .chat-title .user-info span{
  font-weight: bold;
  font-size: 1.2rem;
}

/* Modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  height: 500px;
  position: relative;
  background-color: #fefefe;
  margin: 5rem 25rem;
  padding: 1rem;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.3;
  border-radius: 1rem;
  color: #000;
}

.modal-header,
.modal-body {
  padding: .5rem;
  color: black;
}

.modal-header h2 {
  font-size: 1.5rem;
  margin: 0 1rem;
}

.modal-body {
  display: flex;
  margin: 0 1rem;
  justify-content: space-around;
}

.modal-body .options{
  margin: 2rem 0 0 0;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.modal-body .options h4,
.modal-body .options i{
  margin: 0 .5rem;
}

.modal-body .options h4:hover{
  cursor: pointer;
}

.options .livechat,
.options .zoom,
.options .email{
  width: 70%;
  height: auto;
  background-color: var(--icon-color);
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  border-radius: 1rem;
  display: flex;
  margin: 1rem .5rem;
  padding: .75rem;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.chat-wrap{
  width: 60%;
  border-radius: 16px;
}

.chat-box{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 400px;
  border-radius: 1rem;
  overflow-y: auto;
  padding: 1rem;
}

.chat-box .chat,
.chat-box .tollfree,
.chat-box .zoomlink,
.chat-box .mail{
  height: 380px;
  padding: 0 .5rem 0 0;
  overflow-y: auto;
}

.chat-box .zoomlink{
  width: 90%;
  border-radius: 1rem;
}

.chat-box .zoomlink form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.chat-box .zoomlink form input{
  width: 70%;
}

.chat-box .zoomlink form input,
.chat-box .zoomlink form button{
  box-shadow: 0 2px 3px rgba(0,0,0,.15);
  outline: none;
  padding: .75rem;
  margin: .75rem 0;
  border: none;
  border-radius: 1rem;
}

.chat-box .zoomlink form button,
.chat-box .zoomlink form p {
  font-weight: 600;
}

.chat-box .zoomlink form .send-options {
  width: 80%;
}

.chat-box .zoomlink form .send-options button {
  background-color: var(--navbar-background-color);
  color: var(--icon-color);
  letter-spacing: 1.5px;
  margin: 0 .25rem;
  width: 30%;
}

.chat-box .zoomlink form p:first-child {
  margin: 0;
}

.chat-box .tollfree,
.chat-box .zoomlink,
.chat-box .mail{
  display: none;
  position: absolute;
  z-index: 2;
}

.chat-box .chat::-webkit-scrollbar{
  width: .5rem;
}

.chat-box .chat::-webkit-scrollbar-track{
  background: var(--text-color);
}

.chat-box .chat::-webkit-scrollbar-thumb{
  background: var(--navbar-background-color);
  border-radius: 25px;
}

.chat-box .outgoing,
.chat-box .incoming{
  display: flex;
  margin: 1rem 0;
}

.chat-box .outgoing .details{
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details p{
  padding: .5rem;
  margin: 0;
  background: #333;
  box-shadow: 0 2px 3px rgba(0,0,0,.35);
  color: #fff;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
  align-items: flex-end;
}
.chat-box .incoming img{
  height: 35px;
  width: 35px;
}
.chat-box .incoming .details{
  word-wrap: break-word;
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}
.incoming .details p{
  margin: 0;
  padding: .7rem;
  background: #fff;
  color: rgb(0, 0, 0);
  border-radius: 18px 18px 18px 0;
  box-shadow: 0 2px 3px rgba(0,0,0,.45);
}

.typing-area{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.typing-area .input-field{
  box-shadow: 0 2px 3px rgba(0,0,0,.45);
  height: 38px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 8px;
  border: none;
  background: #eeeeee;
  border-radius: 1rem 0 0 1rem;
  outline: none;
}

.typing-area .input-field::placeholder{
  font-weight: 400;
}

.typing-area button{
  color: #fff;
  width: 95px;
  height: 39px;
  border: none;
  outline: none;
  letter-spacing: 2px;
  background-color: var(--navbar-background-color);
  box-shadow: 0 2px 3px rgba(0,0,0,.45);
  font-size: 19px;
  cursor: pointer;
  font-weight: 600;
  pointer-events: none;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.3s ease;
}

.mail form {
  padding: 1rem;
}

.mail form input,
.mail form textarea{
  box-shadow: .4px 2px 3px rgb(0 0 0 / 10%);
  padding: .5rem;
  width: auto;
  margin-top: 1rem;
	border: none;
  outline: none;
  border-radius: 1rem;
  background-color: #f3f3f3;
  font-weight: 600;
}

.mail form #send-mail{
  width: 95%;
  margin-top: 1rem;
  height: auto;
  outline: none;
  border: none;
  background-color: var(--navbar-background-color);
  color: var(--icon-color);
  border-radius: 1rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
  padding: .65rem;
}

/* Actual list styling */
.thee-list ul {
  height: 400px;
  padding: .5rem;
  margin: 0 1rem 0 .5rem;
  overflow-y: auto;
}

.thee-list ul::-webkit-scrollbar{
  width: 0.30rem;
}

.thee-list ul::-webkit-scrollbar-track{
  background: var(--text-color);
}

.thee-list ul::-webkit-scrollbar-thumb{
  background: var(--navbar-background-color);
  border-radius: 25px;
}

.thee-list ul li {
  padding: .25rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  background-color: var(--icon-color);
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
  border-radius: 1rem;
  align-items: center;
}

.thee-list ul li:hover {
  cursor: pointer;
}

.thee-list ul li .time,
.thee-list ul li .student,
.thee-list ul li .actions{
  margin: 0 0 0 1rem;
  display: flex;
}

.thee-list ul li .time{
  font-weight: 600;
  font-size: 1rem;
  padding-left: 0.2rem;
  margin: 0 1rem 0 0;
}

.thee-list ul li .student img{
  padding: .2rem 0 0 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.thee-list ul li .time input,
.thee-list ul li .student input {
  text-align: center;
  outline: none;
  border: 0;
  margin: 0;
  font-weight: 600;
}

.thee-list ul li .time input{
  text-align: start;
}

.thee-list ul li .actions{
  margin-left: auto;
}

.thee-list ul li .actions .action-btn{
  font-size: .9rem;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-weight: 600;
  color: var(--nav-hover-color);
  border: 1px solid var(--nav-hover-color);
  padding: .3rem;
  border-radius: .55rem;
  margin: 0 0 0 .5rem;
}

.thee-list ul li .actions .action-btn:hover{
  background-color: var(--navbar-background-color);
  color: var(--icon-color);
  cursor: pointer;
}

.thee-list ul li .actions .action-btn:nth-child(even):hover{
  background-color: var(--action-color);
  border: 0;
}

.thee-list ul li .actions .action-btn:last-child:hover{
  background-color: var(--danger-color);
  border: 0;
}

.faqs,
.counselors,
.update-form,
.notification-modal {
  display: none;
}

/* STYLING THE UPDATE FORM SECTION */
.update-form h2,
.counselors h2 {
  margin: 2rem 0;
  text-align: center;
}

.update-form form .row {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

.update-form form input,
.update-form form button{
  border: none;
  padding: 12px 15px;
  margin: 12px;
  width: 50%;
  outline: none;
  border-radius: 1rem;
  background-color: #f8f8f8f3;
  font-weight: 600;
}

.update-form form button{
  background-color: #000;
  color: #f3f3f3;
  width: 100%;
}

.update-form form .row .profile-pic{
  display: flex;
  align-items: center;
  border: solid 10px #f3f3f3;
  border-radius: 50%;  
  width: 145px;
  height: 145px;
  background-color: #333;
}

.update-form form .row .profile-pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
}

.container-list div {
  margin: 1rem;
  background-color: yellowgreen;
}

.aob{
  /* display: none; */
  background-color: #2b2b2b;
}

#df,
#dfd{
  display: none;
}

