@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 1rem 2rem;
	height: 100%;
	text-align: center;
}

input {
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  outline: none;
  border-radius: 1rem;
  background-color: #f8f8f8f3;
  font-weight: 600;
}

main {
  padding: 2rem;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 600px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.sign-in-container .form #login{
  background-color: #2c3e50;
  color: #fff;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #5e7a96;
	background: -webkit-linear-gradient(to right, #5e7a96, #2c3e50);
	background: linear-gradient(to right, #5e7a96, #2c3e50);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.social-container a {
	border: 1px solid #DDDDDD;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 40px;
  width: 100%;
}

.social-container .student {
	margin: 8px 0;
  border-left: none;
	border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.social-container .staff {
	margin: 8px 0;
	border-right: none;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}


.overlay-signup {
	position: relative;
	top: 0;
	left: 20%;
	width: 100%;
	z-index: 1;
	color: #FFFFFF;
	height: 100%;
  transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.student-signup,
.staff-signup {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	top: 0;
	width: 100%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.student-signup input:last-child,
.staff-signup input:last-child,
.sign-in-container input:last-child
 {
  background-color: #2c3e50;
  color: #fff;
}

.student-signup input:last-child:hover,
.staff-signup input:last-child:hover,
.sign-in-container input:last-child:hover {
	cursor: pointer;
}

.student-signup {
	transform: translateX(-20%);
}

.staff-signup {
	display: none;
  left: -20%;
	transform: translateX(0);
}

.staff-signup form{
	padding: .25rem;
}

span {
	color:#e22222;
	width: 100%;
	padding: .75rem;
	font-weight: 600;
}
