:root{
  --icon-color: #fff;
  --text-color: #fbfbfbe3;
  --navbar-background-color: #000;
  --nav-hover-color: #2b2b2b;
  --main-background-color: #e3fde3;
  --card-background-color: #66de51;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  height: 100vh;
}

/* SCROLL BAR STYLING */
body::-webkit-scrollbar{
  width: 0.30rem;
}

body::-webkit-scrollbar-track{
  background: var(--text-color);
}

body::-webkit-scrollbar-thumb{
  background: var(--bg);
  border-radius: 25px;
}

/* The sidebar menu */
header{
  height: 100%; 
  width: 220px; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: var(--navbar-background-color);
  color: var(--text-color);
  overflow-x: hidden; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

header .heading,
header .logout{
  display: flex;
  align-items: center;
}

header .heading img{
  padding-right: 1rem;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

header nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul li{
  list-style: none;
}

header nav ul li{
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header nav ul li i{
  color: #fff;
  padding-right: 1rem;
}

header .logout{
  padding: 0 0 2rem 1rem;
  margin-top: auto;
  align-items: center;
  justify-content: flex-start;
}

header .logout i{
  margin-right: 1rem;
}

header .logout a{
  text-decoration: none;
  color: var(--icon-color);
}

main {
  margin-left: 250px;
}

/* MAIN SECTION WITH CONTENT */
/* Main header section wit username counsellor's name in this case */
main .header{
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--icon-color);
  box-shadow: 0 1px 3.5px -0.5px rgb(0 0 0 / 77%);
}

main .header .welcome-txt{
  padding: 1.5rem 0 1rem 1rem;
  margin-left: 2.5rem;
}

main .header .notification-area{
  padding: 1rem;
}

h2{
  margin: 0;
}

main .header .welcome-txt h2{
  font-size: 2rem;
}

main .header .notification-area i{
  padding: 1rem 2rem 0 0;
  font-size: 2rem;
}

/* Main Appointments sections with list and counter */
main .appointments{
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

main .appointments .wrapper{
  width: 900px;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 1rem;
}

main .appointments .wrapper .count{
  display: flex;
  padding: 1rem 0 1rem 0;
}

.count .total,
.count .approved,
.count .cancelled,
.count .total-patients{
  background-color: var(--icon-color);
  box-shadow: 0 2px 3px rgba(0,0,0,.6);
  border-radius: 1rem;
  display: flex;
  margin-right: 1rem;
  padding: 1rem;
}

.count .total-patients{
  margin-right: 0;
}

main .appointments .wrapper .count i{
  padding: 0 1rem 0 0;
  font-size: 1.5rem;
}

.total-numbers span{
  font-size: 1rem;
}

/* Thee appointment list */
/* List header */
.list-header h2{
  font-size: 1.75rem;
  margin: .5rem 0 0 0;
  padding: 1rem;
}

.list-header ul{
 display: flex;
 margin-left: 1rem;
 padding: 0 0 .5rem 0;
}

.list-header ul li {
  padding: 0 1rem 1rem 1rem;
  margin: 0;
}

.list-header ul li:hover{
  cursor: pointer;
  border-bottom: 2px solid rgb(157, 157, 157);
}


.list-header ul .pending{
  padding-left: 0;
}

.list-header ul li h3{
  margin: 0;
}

/* Actual list styling */
.thee-list ul {
  padding: 0;
  margin-right: 1rem;
}

.thee-list ul::-webkit-scrollbar{
  width: 0.30rem;
}

.thee-list ul::-webkit-scrollbar-track{
  background: var(--text-color);
}

.thee-list ul::-webkit-scrollbar-thumb{
  background: var(--bg);
  border-radius: 25px;
}

.thee-list ul li {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  background-color: var(--icon-color);
  box-shadow: 0 1px 2px rgba(0,0,0,.6);
  border-radius: 1rem;
  align-items: center;
}

.thee-list ul li .time,
.thee-list ul li .student,
.thee-list ul li .actions{
  margin: 0 0 0 1rem;
  display: flex;
}

.thee-list ul li .time{
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 0.5rem;
  margin: 0 1rem 0 0;
}

.thee-list ul li .student img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.thee-list ul li .student h3{
  margin: 1.1rem 0 0 1rem;
}

.thee-list ul li .actions{
  margin-left: auto;
}

.thee-list ul li .actions i{
  color: var(--nav-hover-color);
  border: 1px solid var(--nav-hover-color);
  padding: .75rem;
  border-radius: .75rem;
  margin: 0 0 0 1rem;
  font-size: 1rem;
}

.thee-list ul li .actions i:hover{
  background-color: var(--navbar-background-color);
  color: var(--icon-color);
}

/* Selected Appointment details */
.student-info {
  background-color: #0e0e0e;
  color: #fff;
  box-shadow: .4px 2px 3px rgb(0 0 0 / 20%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
}

.student-info .student-profile{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.student-info .student-profile img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.student-info .student-profile h3{
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}

/* MORE DETAILS SECTION */
.student-info .the-details{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.student-info .the-details h3{
  text-align: center;
  margin-bottom: 0.5rem;
}

/* TABLE STYLING  */
table{
  width: 100%;
  outline: none;
  border-collapse: collapse;
  color: #000;
}

table tr {
  border-radius: 2rem;
}

table tr:nth-child(odd) {
  background-color: #ffffffdc;
}

table tr:nth-child(even) {
  background-color: #faf0f0;
}

table tr td{
  letter-spacing: 2px;
  padding: 1rem;
  font-weight: bold;
}

.the-details .actions{
  display: flex;
}

.the-details .actions i{
  margin: 2rem .5rem;
  color: var(--nav-hover-color);
  background-color: var(--icon-color);
  box-shadow: .4px 2px 3px rgb(0 0 0 / 20%);
  padding: .75rem 2rem .75rem 2rem;
  border-radius: .75rem;
  font-size: 1.15rem;
}

.the-details .actions i:hover{
  cursor: pointer;
}

.the-details .actions i:first-child:hover{
  background-color: #000;
  color: #fff;
}

.the-details .actions i:last-child:hover{
  background-color: #000;
  color: #fff;
}

/* On smaller screens */
@media screen and (max-height: 450px) {
  header {padding-top: 15px;}
}