:root{
  --icon-color: #fff;
  --text-color: #fbfbfbe3;
  --navbar-background-color: #000;
  --nav-hover-color: #2b2b2b;
  --main-background-color: #e3fde3;
  --card-background-color: #66de51;
  font-size: 14px;
  font-family: Poppins;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  height: 100vh;
}


/* SCROLL BAR STYLING */
body::-webkit-scrollbar{
  width: 0.30rem;
}

body::-webkit-scrollbar-track{
  background: var(--text-color);
}

body::-webkit-scrollbar-thumb{
  border-radius: 25px;
  background: var(--navbar-background-color);
}

main {
  display: flex;
  padding: 5rem 5rem 0 5rem;
}

main .display-svg img{
  padding-right: 1rem;
  width: 450px;
  height: 450px;
  object-fit: cover;
}

main .inputs {
  display: flex;
  width: 100%;
}

/* ERROR STYLING */
main .inputs .error{
  border: none;
  border-radius: 1rem;
  background-color: #e09396;
  padding: 1rem;
  font-size: 1.15rem;
  font-weight: 700;
  text-align: center;
}

main .inputs .login,
main .inputs .signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5rem 2rem 2rem 2rem;
  padding: 2rem 0 2rem 0;
}

main .inputs form{
  display: flex;
  flex-direction: column; 
}

main .inputs .login p{
 text-align: right;
 margin-right: .5rem;
}

main .inputs input {
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: #f8f8f8;
  box-shadow: .4px 2px 3px rgb(0 0 0 / 20%);
  font-weight: 600;
}

main .inputs input:last-child {
  color: var(--icon-color);
  background-color: var(--nav-hover-color);
}

main .inputs .login #login {
  color: var(--icon-color);
  background-color: var(--nav-hover-color);
}