:root{
  --icon-color: #fff;
  --text-color: #fbfbfbe3;
  --navbar-background-color: #000;
  --nav-hover-color: #2b2b2b;
  --main-background-color: #e3fde3;
  --card-background-color: #66de51;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  height: 100vh;
}


/* SCROLL BAR STYLING */
body::-webkit-scrollbar{
  width: 0.30rem;
}

body::-webkit-scrollbar-track{
  background: var(--navbar-background-color);
}

body::-webkit-scrollbar-thumb{
  border-radius: 25px;
  background: var(--text-color);
}

ul::-webkit-scrollbar{
  width: 0.30rem;
}

ul::-webkit-scrollbar-track{
  background: var(--navbar-background-color);
}

ul::-webkit-scrollbar-thumb{
  border-radius: 25px;
  background: var(--text-color);
}

.chat-area::-webkit-scrollbar{
  width: 0.30rem;
}

.chat-area::-webkit-scrollbar-track{
  background: var(--navbar-background-color);
}

.chat-area::-webkit-scrollbar-thumb{
  border-radius: 25px;
  background: var(--text-color);
}


/* The sidebar menu */
header{
  height: 100%; 
  width: 220px; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: var(--navbar-background-color);
  color: var(--text-color);
  overflow-x: hidden; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

header .heading,
header .logout{
  display: flex;
  align-items: center;
}

header .heading img{
  padding-right: 1rem;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

header nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul li{
  list-style: none;
}

header nav ul li{
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header nav ul li i{
  color: #fff;
  padding-right: 1rem;
}

header .logout{
  padding: 0 0 2rem 1rem;
  margin-top: auto;
  align-items: center;
  justify-content: flex-start;
}

header .logout i{
  margin-right: 1rem;
}


/* FROM THE ALPHA */
.main-navbar {
  padding-top: 10px;
  box-shadow: 0 2px 4px -.5px rgba(0, 0, 0, 0.772);  
  padding: .5rem 1rem .5rem 1rem;
  background-color: var(--icon-color);
}

.main-navbar .chat-title {
  display: flex;
  justify-content: space-between;
}

.main-navbar .chat-title .left {
  display: flex;
}

.main-navbar .chat-title .right {
  margin-right: .5rem;
}

.main-navbar .chat-title i{
  /* margin: 1rem 0 0 1rem; */
  padding: 1rem;
  font-size: 1.5rem;
}

.main-navbar .chat-title img{
  width: 40px;
  height: 40px;
  margin: 0 15px 0 1rem;
}

.main-navbar .chat-title .user-info{
  display: flex;
  flex-direction: column;
  margin: .5rem 0 0 0;
}

.main-navbar .chat-title .user-info span{
  font-weight: bold;
}

.main-navbar .chat-title .user-info p{
  padding: 0;
  margin: 0;
}

main {
  margin-left: 250px;
}


/* MAIN SECTION WITH CONTENT */
/* Main header section wit username counsellor's name in this case */
main .header{
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--icon-color);
  box-shadow: 0 1px 3.5px -0.5px rgb(0 0 0 / 77%);
}

main .header .welcome-txt{
  padding: 1.5rem 0 1rem 1rem;
  margin-left: 2.5rem;
}

main .header .notification-area{
  padding: 1rem;
}

h2{
  margin: 0;
}

main .header .welcome-txt h2{
  font-size: 2rem;
}

main .header .notification-area i{
  padding: 1rem 2rem 0 0;
  font-size: 2rem;
}

.student-main {
  display: flex;
  background-color: #f5f5f5;
}

.student-main .book-appointment,
.student-main .chatting,
.student-main .appointments{
  margin: 1rem .5rem 1rem .5rem;
  box-shadow: .4px 2px 3px rgb(0 0 0 / 30%);
  border-radius: 1rem;
  background-color: #fff;
  width: 100%;
  padding: .65rem 1rem .5rem 1rem;
}

.student-main  .book-appointment .completed {
  display: flex;
  flex-direction: column;
}

.student-main  .book-appointment h3 {
  padding: 0 0 0 1rem;
  font-size: 1.25rem;
  margin-block-start: .75em; 
  margin-block-end: .75em;
}

.student-main  .book-appointment ul{
  padding: .4rem 1rem 0 1rem;
  margin: 0;
  height: 250px;
  overflow-y: auto;
}

.student-main  .book-appointment ul li{ 
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .25rem .5rem .25rem .5rem;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: var(--nav-hover-color);
  color: var(--icon-color);
}

.student-main  .book-appointment ul li i{
  padding: .65rem;
  border: 1.45px solid var(--icon-color);
  border-radius: 10px;
}

.student-main  .book-appointment ul li img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}


/* LIVE CHAT AREA */
.chat-area{
  height: 485px;
  overflow-y: auto;
}

.chat-area div p {
  word-wrap: break-word;
  padding: 8px 5px;
}

.chat-area .student-msg {
  display: flex;
  margin-bottom: 5px;
  margin-left: 4px;
}

.chat-area .admin-msg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: .5rem;
}

.chat-area .student-msg p,
.chat-area .admin-msg p {
  max-width: calc(100% - 130px);
}

.chat-area .student-msg p{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 16px;
  box-shadow: 0 2px 4px -.5px rgba(0, 0, 0, 0.772);
  margin-block-start: .25em;
  margin-block-end: .25em;
}

.chat-area .admin-msg p {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  padding-left: 10px;
  box-shadow: 0 2px 4px -.5px #f8ffc5e8;;
  background-color: #020202;
  color: #fff;
}


/* LIVE CHAT MESSAGE INPUT ARE */
.chat-form form {
  width: 100%;
  padding: .5rem;
  display: flex;
  justify-content: center;
}

.chat-form form #out-msg {
  width: 100%;
  outline: none;
  padding: 10px;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #eae8e8;
  box-shadow: .4px 2px 3px rgb(0 0 0 / 20%);
  font-weight: 600;
}

.chat-form form input:last-child{
  outline: none;
  padding: .7rem 2rem .7rem 2rem;
  border: none;
  background-color: var(--nav-hover-color);
  box-shadow: .4px 2px 3px rgb(0 0 0 / 20%);
  color: white;
  font-weight: 600; 
  font-size: 1.1rem;
  margin-left: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


/* Making appointment Reservation */
.appointments .container{
  padding: 0 1rem 1rem 1rem;
}

.appointments .reservation-form form {
  display: flex;
  flex-direction: column;
}

.appointments .reservation-form form input{
  box-shadow: .4px 2px 3px rgb(0 0 0 / 10%);
  font-size: 1rem;
  font-weight: 600;
}

.appointments .reservation-form form input::placeholder{
  font-weight: 300;
  font-style: italic;
}

.appointments .reservation-form form textarea::placeholder{
  font-weight: 300;
  font-style: italic;
}

.appointments .reservation-form form input,
textarea,
.choose-counsellor{
  padding: .75rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  margin-bottom: 1rem;
}

.appointments .reservation-form form input:last-child{ 
  margin-left: 1rem;
  outline: none;
  padding: .7rem 2rem .7rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--nav-hover-color);
  color: white;
  font-weight: 600; 
  font-size: 1.1rem;
}

.choose-counsellor {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1rem 1rem 0 1rem;
}

.choose-counsellor label{
  margin-right: 2rem;
}


/* THE FOOTER */
footer{
  text-align: center;
}