.chat-area::-webkit-scrollbar{
  width: 0.30rem;
}

.chat-area::-webkit-scrollbar-track{
  background: var(--text-color);
}

.chat-area::-webkit-scrollbar-thumb{
  background: var(--navbar-background-color);
  border-radius: 25px;
}

header nav ul li:hover,
.student-info form input:last-child:hover,
header .logout:hover{
  cursor: pointer;
}

header .logout h3 a{
  text-decoration: none;
  color: #fff;
}

.communications{
  box-shadow: .4px 2px 3px rgb(0 0 0 / 10%);
  border-radius: 1rem;
}

.communications h2 {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 0;
}

.communications .carousel{ 
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
 
.communications .carousel i{
  padding: 1rem 2rem;
}

.communications .carousel .carousel-item:nth-child(even){
  width: 100%;
  text-align: center;
}

/* Thee appointment list */
.appointment-list {
  box-shadow: .4px 2px 3px rgb(0 0 0 / 20%);
  border-radius: 1rem;
  height: 550px;
  margin-top: 1rem;
}

/* List header */
.list-header h2{
  text-align: center;
  font-size: 1.75rem;
  padding: 1rem 1rem 0.5rem 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.list-header form{
  display: flex;
  padding: 0 0 .5rem 0;
  margin: 1rem 1rem 0 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.list-header form input {
  text-align: center;
  outline: none;
  border: 0;
  font-weight: 600;
  font-size: 1rem;
  padding: .5rem;
  background: none;
  margin: 0;
}

.list-header form input:hover{
  cursor: pointer;
  border-bottom: 2px solid rgb(157, 157, 157);
  background-color: #f3f3f3;
  border-radius: 1rem;
}

.thee-list ul li .actions i:hover,
.thee-list ul li .actions input:hover{
  background-color: var(--navbar-background-color);
  color: var(--icon-color);
}


/* Selected Appointment details */
main .appointments .student-info{
  color: #fff;
  box-shadow: .4px 2px 3px rgb(0 0 0 / 10%);
  border-radius: 1rem;
  margin: 1rem 1rem 0 1rem;
  width: 50%;
  height: 600px;
}

h2 {
  margin: 1rem 2rem;
  color: black;
}

.student-info h2 {
  margin-bottom: 0;
}

.student-info form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.student-info form label {
  color: #000;
  background-color: #fff;
  font-weight: bold;
  font-size: 11px;
  margin-left: 1.2rem;
  margin-bottom: .25rem;
}

.student-info form textarea,
.student-info form input {
  box-shadow: .4px 2px 3px rgb(0 0 0 / 10%);
	border: none;
	padding: .7rem;
  margin: .15rem 1rem .5rem 1rem;
  outline: none;
  border-radius: 1rem;
  background-color: #f3f3f3;
  font-weight: 600;
}

.student-info form input:last-child {
  width: 94%;
  letter-spacing: 1px;
  margin: 1rem;
  background-color: var(--nav-hover-color);
  color: white;
  font-size: 1.1rem;
}

/* Notification pane */
.notifications-list li {
  width: 200px;
  display: flex;
  align-items: center;
  margin: 1rem 0 ;
} 

.notifications-list li span {
  font-size: 1rem;
}

.notifications-list li i{
  margin-left: auto;
  font-size: 5px;
  color: green;
}