FEATURES.txt

design.html

STYLE.html

STYLE.css

modules/acc_activation.php

modules/createMeeting.php

vendor/composer

vendor/guzzlehttp

vendor/psr

vendor/ralouphie

config.php

insert-chat.php

insertMessage.php

js/login.js

login.php

modules/chat.php

modules/createMessage.php