FEATURES.txt

design.html

STYLE.html

STYLE.css

css/calendar.min.css

style.js

modules/acc_activation.php

modules/createMeeting.php

vendor/composer

vendor/guzzlehttp

vendor/psr

vendor/ralouphie

vendor/twilio

vendor/messagebird

=======
config.php

insert-chat.php

insertMessage.php

js/login.js

login.php

modules/chat.php

modules/sendMail.php

js/jquery.min.js

js/calendar.min.js

.vscode/

modules/createMessage.php

twilio.env